
/* NAVIGATION */

nav {
    position: absolute;
    z-index: 3;
    width: 100vw;
    ul {
        display: flex;
        align-items: center;
        padding: 0;
        list-style-type: none;
        .flex-item {
            margin-right: 1rem;
        }
        .flex-item:last-of-type {
            margin-right: 2rem;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                &:hover {background-color: #f1f1f1}
            }

        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
    }
}

.brandLogo {
    margin-right: auto;
    margin-left: 2rem;
    background: $brandGreen;
    padding: 1rem;
    border-radius: 30%;
}

.hideOnMobile {
    display: none;
}
.hideOnMid {
    display: block;
}
@media (min-width: 750px) {
    .hideOnMobile {
        display: block;
    }
    nav.hideOnMid {
        display: none;
    }
}
// @media (max-width: 750px) {
//     .hideOnMid {
//         display: block;
//     }
// }